$whiteColor: #ffffff;
$lightBlue: #edeffc;
$red: #ff1c44;
$greenAqua: #7df0ba;
$green: #389e0d;
$blueBerry: #4f4fff;
$blackLight: #141938;
$black: #03050f;
$gray: #7981b2;
$grayLight: #f8f9ff;
$greyLine: #5e6488;
$greyline2: #a9afd9;
$greyline3: #d7dbf5;
